*.txt
*.json
finance_dashboard/balance-sheet-statement/
finance_dashboard/income-statement/
finance_dashboard/cash-flow-statement/
power_consumption/
expenses.csv
finance_dashboard/__pycache__
finance_dashboard/.streamlit/secrets.toml
!requirements.txt
grocery_list/
data_discovery/
supply_chain/
finance_dashboard/investment_dashboard.ipynb
.git
.env
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
astro
*.html
!index.html
!README.md
!LICENSE
!requirements.txt
!login.html
!login.css
!register.html
!register.css