*.txt
*.json
finance_dashboard/balance-sheet-statement/
finance_dashboard/income-statement/
finance_dashboard/cash-flow-statement/
power_consumption/
expenses.csv
finance_dashboard/__pycache__
finance_dashboard/.streamlit/secrets.toml
!requirements.txt